@import url("/home/t10nat/.cache/wal/colors-waybar.css");

* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 13px;
    font-weight: bold;
    min-height: 23px;
}

/* Full-length bar */
window#waybar {
    background: alpha(@background, 0.8);
    color: @foreground;
}

/* Tooltips */
tooltip {
    background: @background;
    border: 1px solid @color6;
    border-radius: 6px;
}

tooltip label {
    color: @foreground;
}

/* Workspace */
#workspaces {
    margin-left: 8px;
}

#workspaces button {
    color: @color6;
    background: transparent;
    border: none;
    padding: 0 8px;
    transition: all 0.2s ease;
}

#workspaces button:hover {
    color: @color4;
    background: transparent;
    
}

#workspaces button.active {
    color: @color1;
}

#workspaces button.urgent {
    color: @color9;
}

/* Modules */
#clock,
#battery,
#network,
#bluetooth,
#pulseaudio,
#tray,
#backlight {
    margin: 0 8px;
    color: @color6;
}

/* Battery states */
#battery.warning {
    color: @color6;
}

#battery.critical {
    color: @color2;
}

#battery.charging {
    color: green;
}

/* Network */
#network.disconnected {
    color: @color9;
}

/* Bluetooth */
#bluetooth.disabled,
#bluetooth.off {
    color: @color2;
}

/* Audio */
#pulseaudio.muted {
    color: @color6;
}

/* Tray */
#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}
#custom-sep {
    color: @color8;      /* separator color */
    padding: 0 6px;
}
#custom-media {
    color: @color6;
}
#window {
    padding: 0 12px;
    font-weight: bold;
    color: @color6;
}
#custom-weather {
    color: @color6;
    padding: 0 12px;
    font-weight: bold;
    
}