* {
    background-image: none;
    box-shadow: none;
    font-family: "JetBrainsMono Nerd Font", sans-serif;
}

window {
    background-color: rgba(36,20,15,0.78);
}

button {
    border-radius: 14px;
    border: 2px solid #74635e;

    background-color: #24140f;
    color: #c8c4c3;

    margin: 14px;
    min-width: 180px;
    min-height: 180px;

    background-repeat: no-repeat;
    background-position: center 42px;
    background-size: 64px;

    transition: 200ms ease;
}

button:hover,
button:focus,
button:active {
    background-color: #A0674C;
    border-color: #C89964;
    color: #24140f;
}

#lock {
    background-image: image(url("/usr/share/wlogout/assets/lock.svg"));
}

#logout {
    background-image: image(url("/usr/share/wlogout/assets/logout.svg"));
}

#suspend {
    background-image: image(url("/usr/share/wlogout/assets/suspend.svg"));
}

#hibernate {
    background-image: image(url("/usr/share/wlogout/assets/hibernate.svg"));
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/assets/shutdown.svg"));
}

#reboot {
    background-image: image(url("/usr/share/wlogout/assets/reboot.svg"));
}
